# Client (web app)
client

# Certificates and private keys
server/private/certificate.pem
server/private/certrequest.csr
server/private/privatekey.pem

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules
